{%load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>CRM-HOSPITAL</title>

		

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vendors/styles/icon-font.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'src/plugins/jquery-steps/jquery.steps.css' %}"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<div class="pre-loader">
			<div class="pre-loader-box">
				<div class="loader-logo">
					<div class="brand-logo">
						<h3 style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;margin-top: 10px;color: #1b00ff"
			  ><strong>CRM-HOSPITAL</strong></h3>
	
					</div>
				</div>
				<div class="loader-progress" id="progress_div">
					<div class="bar" id="bar1"></div>
				</div>
				<div class="percent" id="percent1">0%</div>
				<div class="loading-text">Loading...</div>
			</div>
		</div>

		<div class="header">
			<div class="header-left">
				<div class="menu-icon bi bi-list"></div>
				
			</div>
			<div class="header-right">
				
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a
							class="dropdown-toggle"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<span class="user-icon">
								<img src="{% static 'vendors/images/photo1.jpg' %}" alt="" />
							</span>
							<span class="user-name">{{user.first_name}} {{user.last_name}}</span>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
						>
							
							<a class="dropdown-item" href="{% url 'logout' %}"
								><i class="dw dw-logout"></i> Log Out</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12"
						>User Interface Settings</span
					>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Header Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-white active"
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-dark"
							>Dark</a
						>
					</div>

					<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-light"
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-dark active"
							>Dark</a
						>
					</div>

					

					<div class="reset-options pt-30 text-center">
						<button class="btn btn-danger" id="reset-settings">
							Reset Settings
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="left-side-bar">
			<div class="brand-logo">
				
					<h3 style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;margin-top: 10px;color: #1b00ff"
          ><strong>CRM-HOSPITAL</strong></h3>

				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
					<ul id="accordion-menu">
						<li>
							<a href="{% url 'home' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-file-earmark-text"></span
								><span class="mtext">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="{% url 'medical_record' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi-hdd-stack"></span
								><span class="mtext">Medical Records</span>
							</a>
						</li>
						<li>
							<a href="{% url 'patient_record' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi-hdd-stack"></span
								><span class="mtext">Patient Search</span>
							</a>
						</li>
						<li>
							<a href="{% url 'appointment' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi-hdd-stack"></span
								><span class="mtext">Appointments</span>
							</a>
						</li>
						<li>
							<a href="{% url 'sales' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi-hdd-stack"></span
								><span class="mtext">Sales</span>
							</a>
						</li>
						<li>
							<a href="{% url 'subscriptions' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi-hdd-stack"></span
								><span class="mtext">Subscriptions</span>
							</a>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="xs-pd-20-10 pd-ltr-20">
				<div class="title pb-20">
					<div class="row">
						<h2 class="h3 mb-0">Hospital Overview</h2>
						
					</div>
					<button class="btn btn-success" type="button" data-toggle="modal" data-target="#modalsearchID">ADD Record</button>
					<button class="btn btn-success" id="modeuserDetails" type="button" data-toggle="modal" data-target="#modaluserDetails" style="display: none;">ADD Record</button>
					<div
							id="modalsearchID"
							class="modal modal-top fade "
							tabindex="-1"
						>
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<form  action="{% url 'medical_recordID' %}" method="post" role="form">
										{% csrf_token %}
										<div class="modal-body">
											<h4 class="text-blue h4 mb-10">Add Patient Details</h4>
											
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>National-ID*</label
												>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="natID" id="natID" />
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">
												Search
											</button>
											<button
												type="button"
												class="btn btn-primary"
												data-dismiss="modal"
											>
												Close
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					
						<div
							id="modaluserDetails"
							class="modal modal-top fade "
							tabindex="-1"
						>
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
										
										<div class="modal-body">
											<div class="wizard-content">
											<form class="tab-wizard2 wizard-circle wizard" action="{% url 'medical_record' %}" method ="POST">
											
												{% csrf_token %}
											<h5 class="text-blue h4 mb-10">Add Medical Records</h4>
											<br>
											{% if patient is not None %}
											
											<section>
												<div class="profile-info">
													<h5 class="mb-20 h5 text-blue">Personal Details</h5>
													<h5 class="text-center h5 mb-0">{{patient.first_name}} {{patient.last_name}}</h5>
													<ul>
														<li>
															<span>Email Address:</span>
															{{patient.email}}
														</li>
														<li>
															<span>Age:</span>
															{{patientAge}}
														</li>
														<li>
															<span>Phone Number:</span>
															{{patient.phone}}
														</li>
														<li>
															<span>Country:</span>
															{{patient.country}}
														</li>
														<li>
															<span>Address:</span>
															{{patient.address}}, <br />
															{{patient.city}}
														</li>
													</ul>
												</div>
											</section>

											<h5 class="text-center h5 mb-0">Medical Details</h5>
											<section>
												<div class="profile-info">
													<ul>
														<li>
															<span>Blood Type:</span>
															{{patientsp.bloodType}}
														</li>
														<li>
															<span>Allergies:</span>
															{{patientsp.allergies}}
														</li>
														<li>
															<span>Disabilities:</span>
															{{patientsp.disabilities}}
														</li>
													</ul>
												</div>
											</section>

											<h5>Medical Record</h5>
									<section>
										<div class="form-wrap max-width-600 mx-auto">
											<input type="hidden" class="form-control" name="patient" id="patient" value="{{patient.pk}}" />
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Temperature*</label
												>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="temp" id="temp" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>BP*</label
												>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="bp" id="bp"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Admission</label
												>
												<div class="col-sm-8">
													<input type="checkbox" class="switch-btn" name="admission" id="admission"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Date Of Admission</label
												>
												<div class="col-sm-8">
													<input type="date" class="form-control" name="doa" id="doa"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Discharged*</label
												>
												<div class="col-sm-8">
													<input type="checkbox" class="switch-btn" value="off" name="discharged" id="discharged"/>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Date Of Discharge*</label
												>
												<div class="col-sm-8">
													<input type="date" class="form-control" name="dod" id="dod"/>
												</div>
											</div>
											<label class="col-sm-4 col-form-label"
													>Treatment*</label
												>
											<div class="form-group row">
												<input type="hidden" class="form-control" name="treatCount" id="treatCount" value="0" />
												
												<div class="col-sm-8">
													<select name="treatmen" id="treatmen" class="form-select">
														<option value="">Select Treatment</option>
														{% for treatment in treatments %}
														<option value={{treatment.pk}}>{{treatment.name}}</option>
														{% endfor %}
													  </select>
												</div>
												<a class=" col-sm-4 btn btn-primary btn-lg btn-block addtreat" id="addtreat" >Add</a>
											</div>
											<div id="treatlings" class="form-group row" style="display: none;">
												<label class="col-sm-4 col-form-label"
													>Treatments*</label>

													<div class="profile-info" id="treats" >
													
													</div>
												
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Prescriptions*</label
												>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="prescriptions" id="prescriptions" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Diagnoised Diseases*</label
												>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="diseases" id="diseases" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"
													>Notes*</label
												>
												<div class="col-sm-8">
													<textarea class="form-control" name="notes" rows="5" id="notes"></textarea>
												</div>
											</div>
											
										</div>
									</section>
									{%endif%}
									<button class="btn btn-primary btn-lg btn-block" id="regis" type="submit" value="Register" style="display: none;">Register</button>
								
							</form></div>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary">
												Search
											</button>
											<button
												type="button"
												class="btn btn-primary"
												data-dismiss="modal"
											>
												Close
											</button>
										</div>
								</div>
							</div>
						</div>
				</div>

				<div class="card-box pb-10">
					<div class="h5 pd-20 mb-0">Recent Medical Records</div>
					<table class="data-table table nowrap">
						<thead>
							<tr>
								<th class="table-plus">First Name</th>
								<th>Last Name</th>
								<th>Temperature</th>
								<th>BP Number</th>
								<th>Disease</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							{% for record in records %}
                
                <tr>

					<div
					id="modalalterDetails{{record.pk}}"
					class="modal modal-top fade "
					tabindex="-1"
				>
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
								
								<div class="modal-body">
									<div class="wizard-content">
									<form action="{% url 'medical_record_alter' %}" method ="POST">
									
										{% csrf_token %}
									

									<h5>Alter Medical Record</h5>
							<section>
								<div class="form-wrap max-width-600 mx-auto">
									<h5 class="text-center h5 mb-0">{{record.patient.first_name}} {{record.patient.last_name}}</h5>
									<input type="hidden" class="form-control" name="patient" id="patient" value="{{record.pk}}" />
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Temperature*</label
										>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="temp" id="temp" value="{{record.temp}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>BP*</label
										>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="bp" id="bp" value="{{record.bpNo}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Admission</label
										>
										<div class="col-sm-8">
											<input type="checkbox" class="switch-btn" name="admission" id="admission" value="{{record.admitted}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Date Of Admission</label
										>
										<div class="col-sm-8">
											<input type="date" class="form-control" name="doa" id="doa" value="{{record.dateOfAdmission}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Discharged*</label
										>
										<div class="col-sm-8">
											<input type="checkbox" class="switch-btn" value="off" name="discharged" id="discharged" value="{{record.discharged}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Date Of Discharge*</label
										>
										<div class="col-sm-8">
											<input type="date" class="form-control" name="dod" id="dod" value="{{record.dateOfDischarge}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Prescriptions*</label
										>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="prescriptions" id="prescriptions" value="{{record.prescriptions}}" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Diagnoised Diseases*</label
										>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="diseases" id="diseases" value="{{record.disease}}"/>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"
											>Notes*</label
										>
										<div class="col-sm-8">
											<textarea class="form-control" name="notes" rows="5" id="notes">{{record.notes}}</textarea>
										</div>
									</div>
									
								</div>
							</section>
							<button class="btn btn-primary btn-lg btn-block" type="submit" value="Register" style="display: none;">Alter Record</button>
						
					</form></div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">
										Search
									</button>
									
									<button
										type="button"
										class="btn btn-primary"
										data-dismiss="modal"
									>
										Close
									</button>
								</div>
						</div>
					</div>
				</div>

                   <td class="table-plus">{{record.patient.first_name}}</td>
				   <td>{{record.patient.last_name}}</td>  
				   <td>{{record.temp}}</td>
				   <td>{{record.bpNo}}</td>
				   <td>{{record.disease}}</td>
                   
                   
                   <td>
					<div class="table-actions">
						<a href="#" data-color="#265ed7" data-toggle="modal" data-target="#modalalterDetails{{record.pk}}"
							><i class="icon-copy dw dw-edit2"></i
						></a>
					</div>
				</td>
                  
               </tr>
                {% endfor %}
							
						</tbody>
					</table>
				</div>


			</div>

			
		</div>
		<!-- success Popup html Start -->
		<button
			type="button"
			id="success-modal-btn"
			hidden
			data-toggle="modal"
			data-target="#success-modal"
			data-backdrop="static"
		>
			Launch modal
		</button>
		<div
			class="modal fade"
			id="success-modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true"
		>
			<div
				class="modal-dialog modal-dialog-centered max-width-400"
				role="document"
			>
				<div class="modal-content">
					<div class="modal-body text-center font-18">
						<h3 class="mb-20">Form Submitted!</h3>
						<div class="mb-30 text-center">
							<img src="{% static 'vendors/images/success.png' %}" />
						</div>
						The Forms are in correct fomart
					</div>
					<div class="modal-footer justify-content-center">
						<a id="btnsubmission" class="btn btn-primary">Done</a>
					</div>
				</div>
			</div>
		</div>
		<!-- welcome modal end -->
		<!-- js -->
		
		<script src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
		<script>
			$("#btnsubmission").click(function () {
				console.log("clicked")
				$(document).ready(function(){
					$("#regis").trigger("click");
				});
		});
		</script>
		
		{% if patient is not None %}
  <script>
    $(document).ready(function(){
    $("#modeuserDetails").trigger("click");
});

  </script>         
{% endif %}  
		<script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'src/plugins/jquery-steps/jquery.steps.js' %}"></script>
		<script src="{% static 'vendors/scripts/steps-setting.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'logassets/js/customized.js' %}"></script>
		<script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
